.main {
  background: radial-gradient(50% 50% at 50% 50%, #165f8c 0%, #18395c 100%);
  min-height: 100vh;
  color: white;
  line-height: 1.25rem;
}
.main > * {
  max-width: 420px;
  margin: 0 auto;
}
.main > h2 {
  padding: 2.4rem 1.6rem 0;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.main > h2 ~ p {
  color: #b1e1ff;
  text-align: center;
  padding: 1.6rem 1.6rem 0;
}

.main > form {
  padding: 1.6rem;
}

.input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 1.8rem;
}
.input_container .input_box {
  order: 2;
  width: 100%;
  display: flex;
  position: relative;
}
.input_container label {
  order: 1;
  font-size: 1.4rem;
}
.input_container label.required::after {
  content: "*";
  color: #fa3523;
  margin-left: 0.4rem;
}

.input_box input {
  font-size: 1.6rem;
  line-height: 1.2em;
  padding: 0.6rem 1.6rem;
  background-color: rgba(236, 236, 236, 0.1);
  border: 1px solid #79a6d7;
  border-radius: 5px;
  color: white;
  transition: border 300ms;
  flex: 1 0 100%;
}
.input_box input:focus {
  border: 1px solid white;
}
.input_box input[type="password"] {
  font-weight: 900;
  letter-spacing: 0.2rem;
}

.input_box .icon_box {
  position: absolute;
  right: 0.8rem;
  top: 0.45rem;
  width: 24px;
  height: 24px;
  display: flex;
  background-color: transparent;
  border: none;
}

.password_checker_container > * {
  margin-top: 1.6rem;
  color: white;
  font-size: 15px;
}

.checkbox_container {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
}
.checkbox_box {
  margin-right: 1.2rem;
}
.checkbox_box input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  transition: all 200ms;
  border-radius: 25%;
}

.submit_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 3.2rem;
  margin-top: 2.4rem;
}
.submit_container * {
  width: 100%;
  max-width: 320px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.4rem;
  border: none;
  background: #0085ff;
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .main h2 {
    padding-top: 60px;
  }
}
