.main {
  background: radial-gradient(50% 50% at 50% 50%, #165f8c 0%, #18395c 100%);
  min-height: 100vh;
}
.main > * {
  max-width: 480px;
  margin: 0 auto;
}
.main > h2 {
  padding: 2.4rem 1.6rem 0;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.main > h2 ~ p {
  color: #b1e1ff;
  text-align: center;
  padding: 1.6rem 1.6rem 2rem;
}

.main > form {
  padding: 1.6rem;
}

.input_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 2.4rem;
}

.input_box label {
  order: 1;
  font-size: 1.5rem;
}
.input_box input {
  order: 2;
  font-size: 1.7rem;
  padding: 0.8rem 1.6rem;
  background-color: rgba(236, 236, 236, 0.1);
  border: 1px solid #79a6d7;
  border-radius: 5px;
  color: white;
  transition: all 300ms;
}
.input_box input:focus {
  border: 1px solid white;
}
.input_box input[type="password"] {
  font-weight: 900;
  letter-spacing: 0.15rem;
}
.input_box input:required ~ label::after {
  content: "*";
  color: #fa3523;
  margin-left: 0.4rem;
}

@media screen and (min-width: 768px) {
  .main h2 {
    padding-top: 60px;
  }
}
