.padder {
  padding: 3.2rem;
  max-width: 128rem;
  display: flex;
  margin: 0 auto;
}

.hero {
  padding: 4.8rem 0 1.6rem;
  max-width: 480px;
}
.hero h1 {
  font-size: 3.2rem;
  color: #00244e;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.hero p {
  font-size: 2.4rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}
.hero .action_primary {
  background-color: #00244e;
  color: white;
  border-radius: 0.5rem;
  padding: 1.2rem 3.6rem;
  margin-right: 2rem;
  border: 1px solid #00244e;
  display: inline-flex;
  min-width: 20rem;
  justify-content: center;
}
.hero .action_secondary {
  background-color: transparent;
  border: 1px solid #00244e;
  color: #00244e;
  padding: 1.2rem 3.6rem;
  border-radius: 0.5rem;
  display: inline-flex;
  min-width: 20rem;
  justify-content: center;
}
