.padder {
  padding: 3.2rem;
  max-width: 128rem;
  display: flex;
  margin: 0 auto;
}

.action_primary {
  background-color: #00244e;
  color: white;
  border-radius: 0.5rem;
  padding: 1.2rem 3.6rem;
  border: 1px solid #00244e;
  display: inline-flex;
  min-width: 20rem;
  margin-right: 2rem;
  justify-content: center;
}
.action_secondary {
  background-color: transparent;
  border: 1px solid #00244e;
  color: #00244e;
  padding: 1.2rem 3.6rem;
  border-radius: 0.5rem;
  display: inline-flex;
  min-width: 20rem;
  justify-content: center;
}

.sec h2 {
  font-size: 3.6rem;
  padding: 3.6rem 0;
}
.sec p {
  font-size: 1.7rem;
  line-height: 3rem;
}

.store_button_container {
  display: flex;
  padding: 5rem 0;
}
.store_button {
  display: flex;
  padding: 0.8rem 5rem 0.8rem 1rem;
  border: 1px solid #99cff9;
  border-radius: 0.8rem;
  align-items: center;
  text-align: left;
}
.store_button.app_store {
  margin-right: 2rem;
  border: 1px solid #b3fdf3;
  background-color: #b3fdf3;
}
.store_button .logo {
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1rem;
  position: relative;
}
.store_button .text {
  display: flex;
  flex-direction: column;
}
.store_button .text > span:first-child {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.store_button .text > span:last-child {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7rem;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 12rem);
  max-height: 80rem;
}
.hero .left {
  flex: 0 1 50%;
  padding-top: 3.2rem;
}
.hero .right {
  padding-top: 0rem;
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-end;
}
.hero h1 {
  font-size: 3.6rem;
  color: #00244e;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.hero p {
  font-size: 2.4rem;
  line-height: 4rem;
  margin-bottom: 6.4rem;
}
.hero > .right .hero_img {
  max-width: 35rem;
  height: 35rem;
  width: 100%;
  background-image: url("/hero_img.png");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

.section_a {
  padding: 2.4rem 0 0;
  background-color: #f5f5f5;
  background-image: url("/section_a_bg.png");
  background-size: cover;
  background-position: right top;
}
.section .right,
.section .left {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.section_a .right,
.section_c .right {
  align-items: flex-end;
}
.section_a .right .img,
.section_c .right .img {
  max-width: 60rem;
  height: 60rem;
  width: 100%;
  background-image: url("/section_a_img.png");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

.section_b {
  background-color: white;
  background-image: url("/section_b_bg.png");
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.section_b .left {
  flex-direction: row;
  justify-content: flex-start;
}
.section_b .card_container {
  margin: 1.3rem;
}
.section_b .card {
  max-width: 22rem;
  padding: 2rem 2rem 3rem;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.section_b .card .image_container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.section_b .card .image_box {
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
}
.section_b .card h3 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 1.6rem;
}
.section_b .card p {
  font-size: 1.3rem;
  text-align: center;
}

.section_c {
  background-color: #e9f5fe;
  padding: 2.4rem;
}
.section_c > div {
  background-color: white;
}
.section_c .left {
  flex: 1 0 40%;
}
.section_c .right {
  flex: 1 0 60%;
}
.section_c .right .img {
  background-image: url("/section_c_img.png");
  height: 60rem;
  max-width: 75rem;
}

.section_d {
  background-color: #f5f5f5;
  padding: 4rem;
}
.section_d .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section_d h3 {
  font-size: 4rem;
  text-align: center;
  max-width: 64em;
  line-height: 6rem;
  color: #222;
  padding: 2rem;
}
.section_d p {
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: center;
  color: #333;
  max-width: 54rem;
  padding: 2rem;
}
.section_d .action_btn_container {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_app_container {
  background-color: white;
  border-radius: 2rem;
  padding: 2.4rem 4rem;
  display: flex;
  margin: 5rem 0;
}
.mobile_app_container .left {
  max-width: 40rem;
}
.mobile_app_container .right {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.mobile_app_container h4 {
  font-size: 2.4rem;
  color: #00244e;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.mobile_app_container p {
  text-align: left;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.mobile_app_container .store_button_container {
  padding: 0;
}
.mobile_app_container .app_store {
  margin-right: 3.2rem;
}

@media screen and (max-width: 1000px) {
  .padder {
    padding: 2.4rem;
  }

  .action_primary,
  .action_secondary {
    margin: 0 2rem 2rem;
  }

  .store_button_container {
    justify-content: center;
  }

  .hero {
    flex-direction: column;
    height: auto;
  }
  .hero .left {
    margin: 0 auto;
    max-width: 72rem;
    order: 2;
  }
  .hero .right {
    order: 1;
    width: 100%;
    justify-content: center;
    max-width: 72rem;
  }
  .hero .right .hero_img {
    max-height: 30rem;
  }

  .hero,
  .section_a,
  .section_b {
    background-image: none;
    text-align: center;
  }

  .section_a .padder,
  .section_b .padder,
  .section_c .padder,
  .section_d .padder,
  .mobile_app_container {
    flex-direction: column;
  }

  .section_a .left,
  .section_a .right,
  .section_b .left,
  .section_b .right,
  .section_c .left,
  .section_c .right,
  .section_d .left,
  .section_d .right,
  .mobile_app_container .left,
  .mobile_app_container .right {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
  }

  .section_c {
    padding: 2rem;
  }
  .section_c .action_primary {
    margin: 0;
  }
  .section_c .img {
    height: 40rem !important;
  }

  .padder .right .img {
    background-position: center center;
  }

  .mobile_app_container .right {
    margin-top: 2rem;
  }

  .section_d .action_btn_container {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .store_button_container {
    flex-direction: column;
    align-items: center;
  }
  .store_button.app_store {
    margin: 0 0 1rem 0;
  }
}
