.main {
  padding: 3.2rem 1.6rem;
}
.card_container {
  display: flex;
  justify-content: center;
}
.card_container .card {
  max-width: 320px;
  width: 100%;
  margin: 0 2rem;
  background-color: white;
  box-shadow: 0 0 15px #f4f4f4;
  border-radius: 1rem;
  padding: 2rem;
}

.card h2 {
  color: #00244e;
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
  padding: 1.6rem;
}
.card p {
  padding: 1.6rem;
  text-align: center;
}
.card .action_container {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

.action_container .action {
  background-color: #00244e;
  color: white;
  border-radius: 0.5rem;
  padding: 1.2rem 3.6rem;
  border: 1px solid #00244e;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.footer {
  padding: 2.4rem;
  width: 100%;
  max-width: 76.8rem;
  margin: 2.4rem auto;
  text-align: center;
  color: #00244e;
}
