.main {
  display: flex;
  align-items: center;
}

.strength_meter_container {
  flex: 0 1 100%;
  height: 0.6rem;
  border-radius: 0.6rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.strength_meter {
  height: 100%;
  border-radius: 0.6rem;
  transition: all 300ms;
}

.strength_text {
  flex: 1 1 10rem;
  text-align: right;
  margin-left: 1rem;
}
