.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
}

.icon_container {
  display: flex;
  height: 2.4rem;
  width: 2.4rem;
  color: #333;
}

.image_container {
  display: flex;
  width: 6rem;
  height: 6rem;
}
