.main {
  padding: 1.6rem 1.6rem;
  max-width: 102.4rem;
  margin: 0 auto;
}

.header {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  display: flex;
  margin-bottom: 1.6rem;
}
.header * {
  font-size: 1.5rem;
}
.header .left {
  flex: 1 1 50%;
}
.header .right {
  display: flex;
  align-items: center;
}
.header a {
  color: #1e89dd;
}

.notification_icon_box {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #f5f5f5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.notification_icon_box .icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  color: #00244e;
}

.card_section {
  width: 100%;
  min-height: 30rem;
  display: flex;
  margin-bottom: 1.6rem;
}
.card_section > * {
  flex: 0 1 50%;
  border-radius: 1rem;

  background-image: url("/card_bg.png");
  background-position: -5rem 10rem;
  background-size: contain;
  background-repeat: no-repeat;

  padding: 3rem 4rem;
}
.card_section .balance_section {
  margin-right: 0.8rem;
  background-color: #00244e;
}
.card_section .buy_with_card_section {
  margin-left: 0.8rem;
  background-color: white;
}

.card_section .md_text {
  font-size: 1.8rem;
  font-weight: 600;
}
.balance_section .md_text {
  color: white;
}
.buy_with_card_section .md_text {
  font-size: 2rem;
  color: #00244e;
}

.balance_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.balance_section .top {
  display: flex;
  align-items: center;
}
.balance_section .top .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 50%;
}
.balance_section .top .left .top {
  display: flex;
  align-items: center;
}
.balance_section .top .right {
  display: flex;
}
.balance_section .top .right .icon_box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.6rem;
  height: 3.6rem;
  padding: 1rem;
  margin: 0 0.8rem;

  border-radius: 50%;
  background-color: rgba(138, 161, 188, 0.349);
  color: white;
  border: none;
}
.balance_section .caret_down_box {
  width: 1.2rem;
  height: 1.2rem;

  display: flex;
  margin-left: 1.5rem;

  background-color: transparent;
  color: white;

  position: relative;
  top: 2px;
  border: none;
}
.balance_section .wallet_id {
  margin-top: 0.8rem;
  color: #ddd;
  font-size: 1.8rem;
  font-family: monospace;
  display: flex;
}

.balance_section .center {
  margin: 1.6rem 0;
}
.balance_section .center > * {
  font-size: 2rem;
  color: white;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 3.6rem;
  font-family: "Source Code Pro", monospace;
}

.balance_section .bottom {
  display: flex;
  justify-content: flex-end;
}
.balance_section .bottom a {
  background-color: white;
  color: #00244e;
  border: 1px solid white;

  padding: 0.8rem 2rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
}
.balance_section .bottom a.secondary {
  color: white;
  background-color: transparent;
}
.balance_section .bottom a .icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  margin-right: 1rem;
}

.buy_with_card_section {
  text-transform: capitalize;
}
.buy_with_card_section a.buy_eth {
  font-size: 1.8rem;

  background-color: #00244e;
  color: white;

  border-radius: 0.5rem;

  display: inline-block;
  padding: 1.2rem 2.4rem;
  margin: 2rem 0;
}
.buy_with_card_section .cards_img_container {
  color: #333;
  font-size: 1.5rem;
  margin: 1rem 0 2rem;

  display: flex;
  align-items: center;
}
.buy_with_card_section .cards_img_container span {
  position: relative;
  display: flex;
  margin-left: 1rem;
}
.buy_with_card_section .cards_img_container .visa_img {
  width: 4.5rem;
  height: 1.7rem;
}
.buy_with_card_section .cards_img_container .mastercard_img {
  width: 2.8rem;
  height: 1.7rem;
}
.buy_with_card_section .tip {
  color: #b4b4b4;
  font-size: 1.7rem;
  word-spacing: 0.2rem;
}

.bottom_section {
  width: 100%;
  display: flex;
}
.bottom_section .token_value_table {
  background-color: white;
  flex: 1 1 50%;
  margin-right: 0.8rem;
  border-radius: 0.5rem;
}
.bottom_section .right {
  margin-left: 0.8rem;
}

.hidden_textarea {
  width: 0;
  height: 0;
  opacity: 0;
  /* resize: none; */
  z-index: -1;
}

.token_value_table table {
  width: 100%;
  border-collapse: collapse;
}
.token_value_table * {
  text-align: left;
  border: none;
}
.token_value_table h4 {
  padding: 3rem 4rem 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #00244e;
}
.token_value_table .token_value {
  padding-left: 4rem;
  padding-bottom: 0.5rem;
  font-family: consolas, monospace;
  font-weight: 600;
}
.token_value_table th {
  color: #bfbfbf;
  background-color: #f7f7f7;
  font-weight: 600;
  font-size: 1.7rem;
  padding: 2rem 1.5rem 2rem 4rem;
}
.token_value_table td {
  padding: 1rem 1.5rem 1rem 4rem;
}
.token_value_table tr:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}

.send_modal {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: -5;

  transition: all 300ms;

  width: 100%;
  height: 100%;
  padding: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.send_modal.active {
  opacity: 1;
  z-index: 100;
}

.send_modal .container {
  background-color: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);

  padding: 1.6rem 3.6rem;

  max-width: 64rem;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;

  position: relative;
}
.send_modal .container h4 {
  padding: 2rem;
  font-weight: 600;
  font-size: 2.8rem;
  color: #00244e;

  display: flex;
  justify-content: center;
  align-items: center;
}
.send_modal .container .close_btn {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  background-color: transparent;
}

.input_container {
  display: flex;
  margin: 1rem 0 2rem;
}
.input_box {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  position: relative;
}
.input_container .input_box:not(:last-child) {
  margin-right: 3rem;
}
.input_box label {
  font-weight: 600;
  font-size: 1.7rem;
}
.input_box .input {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 1px solid #ddd;
  margin-top: 0.5rem;
  outline: 2px solid transparent;
  display: flex;
  align-items: center;
}

.input_box .input:focus {
  outline: 2px solid #1e89dd;
}
.input_box .input.error {
  outline: 2px solid #eb4c37;
  color: #eb4c37;
}
.input.error ~ span {
  font-size: 1.4rem;
  font-style: italic;
  color: #eb4c37;
}

.section {
  padding: 1rem 3.2rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.section h6 {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
}
.section .center {
  display: flex;
  justify-content: space-between;
  color: #333;
  margin: 1rem 0;
}
.section .center p {
  flex: 0 1 48rem;
  font-size: 1.5rem;
  margin-right: 1.6rem;
}
.section .center .caret_down_icon {
  display: flex;
  width: 4rem;
  height: 4rem;

  padding: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn {
  background-color: #00244e;
  border: 1px solid #00244e;
  color: white;

  border-radius: 0.5rem;
  padding: 0 3.2rem;
  height: 4rem;

  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
}

.advanced_section .left {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
}
.advanced_section .right {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}
.advanced_section .right span {
  flex-shrink: 0;
  color: #888;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.advanced_section .right .caret_down_icon {
  display: flex;
  width: 4rem;
  height: 4rem;

  padding: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 200ms linear;
  flex-shrink: 0;
}
.advanced_section .right .caret_down_icon.active {
  transform: rotate(-180deg);
}
.advanced_section .expandable {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms;
}
.advanced_section .expandable.active {
  max-height: 100rem;
  transition: all 800ms;
}

.gas_data_form {
  padding: 2rem 0;
}

.gas_data_form .info {
  background-color: #f9fbfe;
  padding: 3rem 2rem;
}
.gas_data_form .info .heading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.gas_data_form .info p {
  font-size: 1.5rem;
  color: #8c8c8c;
}

.center_box {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.gas_data_form .input_box {
  padding: 0 0.5rem;
}
.gas_data_form .input_box label {
  font-size: 1.5rem;
  color: #8c8c8c;
}

.transfer_fee_section h6 {
  font-weight: 600;
  font-size: 1.7rem;
}

.transfer_fee_container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-weight: 600;
}

.transfer_fee_box {
  background-color: #fafafa;
  display: flex;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-right: 1.6rem;
}

.transfer_fee_box .timer {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #1e89dd;
}
.transfer_fee_box .clock_icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-left: 3.2rem;
  display: inline-flex;
  color: #1e89dd;
}

.blue_text {
  color: #1e89dd;
  background-color: transparent;
  border: none;
}

.address_input {
  font-size: 1.6rem;
  line-height: 1.6rem;
  border-radius: 1rem;
  border: 1px solid #ddd;
  margin-top: 0.5rem;
  outline: 2px solid transparent;
  display: flex;
  flex-direction: column;
  outline: 2px solid transparent;
}
.address_input.active {
  outline: 2px solid #1e89dd;
}

.address_input input {
  display: flex;
  width: 100%;
  height: 100%;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

.address_input .dropdown {
  max-height: 0;
  transition: all 200ms;
  overflow: auto;
}
.address_input.active .dropdown {
  max-height: 50rem;
  transition: all 800ms;
}

.address_input .dropdown button {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-bottom: 0.5rem;
  border: 2px solid #1e8add5d;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: left;
}

.address_input .blockies_img {
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-right: 1rem;
}

.address_input .address {
  flex: 1 1 100%;
}
.address_input .nickname {
  flex-shrink: 0;
  width: 10rem;
  display: inline-flex;
}
