.main {
  padding: 1.6rem 1.6rem;
  max-width: 102.4rem;
  margin: 0 auto;
}

.container {
  padding: 3rem;
  background-color: white;
}

.heading {
  margin: 2rem;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}

.address {
  margin: 2rem;
  color: #2189dc;
  font-size: 1.8rem;
  text-align: center;
}

.notification_keys_container {
  margin: 3rem;
  display: flex;
  justify-content: center;
}
.notification_key {
  margin: 0 2rem;
  display: flex;
  align-items: center;
}

.notification_key .color {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  display: inline-flex;
  border-radius: 50%;
}

.color.success {
  background-color: #228908;
}
.color.pending {
  background-color: #e8b502;
}
.color.error {
  background-color: #d80027;
}
