.main {
  padding: 1.6rem 1.6rem;
  max-width: 102.4rem;
  margin: 0 auto;
}

.send_container {
  flex: 1 1 100%;
  background-color: white;
  padding: 2.4rem;
  margin-right: 1.6rem;
  border-radius: 1rem;
  height: fit-content;
}

.heading {
  color: #00244e;
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.heading .arrow_left {
  width: 2.4rem;
  display: flex;
  position: absolute;
}

.input_container {
  display: flex;
  margin: 1rem 0 2rem;
}
.input_box {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  position: relative;
}
.input_container .input_box:not(:last-child) {
  margin-right: 3rem;
}
.input_box label {
  font-weight: 600;
  font-size: 1.7rem;
}
.input_box .input {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 1px solid #ddd;
  margin-top: 0.5rem;
  outline: 2px solid transparent;
  display: flex;
  align-items: center;
}

.input_box .input:focus {
  outline: 2px solid #1e89dd;
}
.input_box .input.error {
  outline: 2px solid #eb4c37;
  color: #eb4c37;
}
.input.error ~ span {
  font-size: 1.4rem;
  font-style: italic;
  color: #eb4c37;
}

.section {
  padding: 1rem 3.2rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.section h6 {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
}
.section .center {
  display: flex;
  justify-content: space-between;
  color: #333;
  margin: 1rem 0;
}
.section .center p {
  flex: 0 1 48rem;
  font-size: 1.5rem;
  margin-right: 1.6rem;
}
.section .center .caret_down_icon {
  display: flex;
  width: 4rem;
  height: 4rem;

  padding: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn {
  background-color: #00244e;
  border: 1px solid #00244e;
  color: white;

  border-radius: 0.5rem;
  padding: 0 3.2rem;
  height: 4rem;

  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
}

.advanced_section .left {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
}
.advanced_section .right {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}
.advanced_section .right span {
  flex-shrink: 0;
  color: #888;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.advanced_section .right .caret_down_icon {
  display: flex;
  width: 4rem;
  height: 4rem;

  padding: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 200ms linear;
  flex-shrink: 0;
}
.advanced_section .right .caret_down_icon.active {
  transform: rotate(-180deg);
}
.advanced_section .expandable {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms;
}
.advanced_section .expandable.active {
  max-height: 100rem;
  transition: all 800ms;
}

.gas_data_form {
  padding: 2rem 0;
}

.gas_data_form .info {
  background-color: #f9fbfe;
  padding: 3rem 2rem;
}
.gas_data_form .info .heading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.gas_data_form .info p {
  font-size: 1.5rem;
  color: #8c8c8c;
}

.center_box {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.gas_data_form .input_box {
  padding: 0 0.5rem;
}
.gas_data_form .input_box label {
  font-size: 1.5rem;
  color: #8c8c8c;
}

.transfer_fee_section h6 {
  font-weight: 600;
  font-size: 1.7rem;
}

.transfer_fee_container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-weight: 600;
}

.transfer_fee_box {
  background-color: #fafafa;
  display: flex;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-right: 1.6rem;
}

.transfer_fee_box .timer {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #1e89dd;
}
.transfer_fee_box .clock_icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-left: 3.2rem;
  display: inline-flex;
  color: #1e89dd;
}

.blue_text {
  color: #1e89dd;
  background-color: transparent;
  border: none;
}

.address_input_box.error .address_input {
  outline: 2px solid #eb4c37;
  color: #eb4c37;
}
.address_input_box.error ~ span {
  font-style: italic;
  font-size: 1.4rem;
  color: #eb4c37;
}

.address_input {
  font-size: 1.6rem;
  line-height: 1.6rem;
  border-radius: 1rem;
  border: 1px solid #ddd;
  margin-top: 0.5rem;
  outline: 2px solid transparent;
  display: flex;
  flex-direction: column;
  outline: 2px solid transparent;
}
.address_input.active {
  outline: 2px solid #1e89dd;
}

.address_input input {
  display: flex;
  width: 100%;
  height: 100%;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

.address_input .dropdown {
  max-height: 0;
  transition: all 200ms;
  overflow: auto;
}
.address_input.active .dropdown {
  max-height: 50rem;
  transition: all 800ms;
}

.address_input .dropdown button {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-bottom: 0.5rem;
  border: 2px solid #1e8add5d;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: left;
}

.address_input .blockies_img {
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-right: 1rem;
}

.address_input .address {
  flex: 1 1 100%;
}
.address_input .nickname {
  flex-shrink: 0;
  width: 10rem;
  display: inline-flex;
}
