.main {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

.heading {
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
  padding: 2rem;
}

.list {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.list.pending {
  background-color: #fff9e2;
}
.list.out {
  background-color: #ffe7e2;
}

.list .field_label {
  margin-right: 1rem;
}

.time_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

.direction {
  background-color: #d80f03;
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.list.pending .direction {
  background-color: #e0b007;
}
