.main {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

.heading {
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
  padding: 2rem;
}

.list {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  text-align: left;
  width: 100%;
}

.main a,
.list a {
  color: #1e89dd;
}

.list .visible {
  width: 100%;
  display: flex;
  align-items: center;
}

.list.success {
  background-color: #dafdd7;
  border: 1px solid #44a71d;
}
.list.pending {
  background-color: #fff9e2;
  border: 1px solid #e0b007;
}
.list.error {
  background-color: #d80f03;
}

.list .field_label {
  margin-right: 1rem;
}

.time_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  text-align: center;
  flex-shrink: 0;
}

.direction {
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.list.success .direction {
  background-color: #44a71d;
}
.list.error .direction {
  background-color: #d80f03;
}
.list.pending .direction {
  background-color: #e0b007;
}

.list .expandable_section {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: all 500ms;
}
.list .expandable_section.active {
  max-height: 30rem;
  transition: all 1s;
}

.list .expandable_section .padder {
  display: table;
  border-spacing: 0.5rem 1rem;
}

.list .expandable_section .item {
  display: flex;
  justify-content: space-between;
  display: table-row;
}

.list .expandable_section .item * {
  display: table-cell;
}
.list .expandable_section .item *:nth-child(2) {
  word-break: break-all;
  padding-left: 0.8rem;
}
